*
!*.yaml
!.gitignore
!node-red
!node-red/*
!python_scripts/*
!python_scripts
!*.py
*.conf
*.txt
*.log
.storage
!.storage/lovelace
.cloud
.google.token
ip_bans.yaml
secrets.yaml
known_devices.yaml
options.xml