*
!*.yaml
!.gitignore
!node-red
!node-red/*
!python_scripts/*
!python_scripts
!*.py
*.conf
*.txt
*.log
!.storage/lovelace
.storage/auth*
.storage/core*
.storage/hassio
.storage/onboarding
.cloud
.google.token
ip_bans.yaml
secrets.yaml
known_devices.yaml
options.xml